---
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import About from "../components/About.astro"
import Cards from "../components/Cards.astro"
import Experiencie from "../components/Experiencie.astro"
import Footer from "../components/Footer.astro"
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gallardo Developers</title>
	<link rel="stylesheet" href="/src/css/stlyes.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-ChzDgzNRGTfeRM4pgie1BCMkr6/PBhG9A+Iyy+zQxLOIRo0SbhmcRo5hG9A+Iyy+zQxLOIRo0SbhmcRo5hG9A+Iyy+zQxLOIRo0SbhmcRo5hG9A+SSR"   
 crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
		<Header/>
		<Hero/>
		<About/>
		<Cards/>
		<Experiencie/>
		<Footer/>
		<script src="/src/js/main.js"></script>
</body>
</html>