<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="container ml-4 mt-4">
        <h3 class=" mb-8 text-center text-orange-500"> <strong>Experiencie</strong></h3>
        <article class="ml-8">
            <div class="mb-4">
                <h4 class="text-orange-500"><strong>MovilReup </strong></h4>
                <h6 class="text-sm"> Nov2023-Mar2024</h6>
                <p>
                    Design,layout,development,desktop and mobile web app.
                    <br>
                    In this project, I undertook front-end development tasks, crafting user interfaces and resolving UI issues. I employed technologies such as Vue.js, TypeScript, HTML, CSS3, and Material UI
                </p>
            </div>
            
            <div class="mb-4">
                <h4 class="text-orange-500"><strong>RafaelDeveloper.co </strong></h4>
                <h6 class="text-sm">  Feb2024-Jun2024</h6>
                <p>
                    Backend and Frontend maintenance on a CMS,code refactoring.
                    <br>
                    Designed and developed a custom landing page using HTML5, CSS3, and JavaScript for a programming company. Integrated a PHP backend to handle form submissions and implement robust validation logic.
                </p>
            </div>

            <div class="mb-4">
                <h4 class="text-orange-500"><strong>WordPress </strong></h4>
                <h6 class="text-sm"> Feb2022-Today</h6>
                <p>
                    Design and layout by WordPress.
                    <br>
                    Developed custom portfolios for professionals, ensuring they met unique requirements. Additionally, constructed online stores and entertainment blogs leveraging WordPress's versatile platform.
                </p>
            </div>
            
        </article>
    </section>
</body>
</html>