<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/styles.css">

   
</head>
<body>
    <header class="flex justify-between mt-6 p-6 ">
      <!--  <a href=""><img class="logo-tipo" src="/src/assets/img/logo-gd.png" alt="logo-gallardoDeveloper"></a> -->
        <a class="text-2xl" href="">Home</a>
       <button id="open" class="open-menu mr-4">
        <i class="fas fa-bars"></i> 
       </button>
        <nav id="menuh" class="menu-h" >
            <button id="close" class="close-menu">
                <i class="fas fa-bars"></i> 
            </button>
            <ul class="flex justify-end gap-2 menu-h-items text-2xl">
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#Contact">Contact</a>
                </li>
               <!--  <li>
                    <label for="">Mode</label>
                    <select name="" id="">
                        <option value="day">Day</option>
                        <option value="nigth">Night</option>
                    </select>
                </li> -->
            </ul>
        </nav>
    </header>
    <script>
       /* const html = document.querySelector("html")
       const selector = document.querySelector("select")

        function changeMode (htmlBg,htmlText){
            html.style.background=htmlBg;
            html.style.color=htmlText;
        }

        selector.onchange= function(){
            selector.value==="day"
            ? changeMode("white","black")
            : changeMode("black","white")
        } */

    </script>
</body>
</html>