<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<section class="hero text-center mt-20 ">

    <h1 class="text-7xl">Frontend Developer</h1>
  
    
    <blockquote class="p-4 my-4 rounded">
        <p class="text-lg font-italic ">
         <strong>  " The best software developers are those who truly enjoy what they do the most "</strong>
        </p>
        <p></p>
        <footer class="">
           - Rafael Gomez
        </footer>
   </blockquote>

<div class=" flex justify-center mt-6 " >
    <img class="h-48 " src="/public/assets/img/hero-porfolio-2.webp" alt="imagen de desarrollador web">
</div>
</section>
</body>
</html>